<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Spotly · Profile</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body class="page--dark">
    <nav class="navbar">
        <a href="/" class="nav-left">
            <div class="logo-dot"></div>
            <span>Spotly</span>
          </a>
          
      <div class="nav-right">
        <a href="/explore">Explore</a>
        <a href="/spots/add">Add Spot</a>
        <a href="/spots/friends">Friends</a>
        <a href="/users/profile">Profile</a>
      </div>
    </nav>

    <main class="friends-wrapper">
      <section class="friends-inner">
        <h1>Your profile</h1>
        <p>Coming soon</p>
      </section>
    </main>

    <footer class="footer-basic">
      <div>Spotly — Discover the vibe. Share your world.</div>
      <div class="dim">© <%= new Date().getFullYear() %> Anri</div>
    </footer>
  </body>
</html>
