@tailwind base;
@tailwind components;
@tailwind utilities;


.glass-card {
  @apply bg-white/5 backdrop-blur-xl rounded-2xl border border-white/10 shadow-card text-white;
}

.vibe-tag {
  @apply text-xs font-medium px-2 py-1 rounded-full text-white;
}
